.get-started-container {
  margin-top:20px;
    display: flex;
    --font-family: "PT Sans",sans-serif;
    --font-family-heading: "Ubuntu",sans-serif;
    -webkit-font-smoothing: antialiased;
    ;
  }
  
  .get-started-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
  }
  
  .get-started-left h1 {
    font-size: 40px;
    margin-bottom: 10px;
  }
  
  .get-started-left p {
    font-size: 16px;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .get-started-right {
    width: 50%;
    padding: 20px;
  }
  
  .get-started-button {
    background-color: #ee3425;
    color: white;
    padding: 10px 20px;
    border: 1px solid #ee3425;
    cursor: pointer;
    border-radius: 8px;
  }
  
  @media (max-width: 768px) {
    .get-started-container {
      flex-direction: column;
    }
  
    .get-started-left {
      width: 100%;
    }
  
    .get-started-right {
      width: 100%;
      margin-top: 20px;
    }
  }
  