.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background-image: linear-gradient(#ebbe00, rgba(251, 255, 0, 0.75)), url('./other-images/image.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 40px;
}

.left-div {
  width: 50%;
  box-sizing: border-box;
}

.right-div {
  width: 50%;
  box-sizing: border-box;
}

.right-div img {
  margin-top: 80px;
  width: 50%;
  height: 400px;
}

.left-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 100px;
}

.left-div h2 {
  font-size: 44px;
  text-align: left;
}

.left-div p {
  font-size: 18px;
  text-align: left;
}

.left-div h3 {
  font-size: 14px;
  font-weight: bold;
  text-align: left;
}

.search-bar {
  background-color: #ffffff;
  border-radius: 12px;
  padding: 1px;
  display: flex;
  padding-right: 10px;
  padding-left: 10px;
  align-items: center;
  justify-content: flex-start;
  margin-top: 20px;
}

.search-bar img {
  height: 40px;
}

.search-bar span {
  font-size: 16px;
}

.search-bar input[type="text"] {
  flex-grow: 1;
  border: none;
  outline: none;
  font-size: 16px;
  padding: 6px;
}

.search-bar button {
  background-color: #36bb22;
  color: #ffffff;
  border: none;
  border-radius: 12px;
  padding: 4px 8px;
  font-size: 14px;
  cursor: pointer;
  margin-bottom: 10px;
}

@media (max-width: 600px) {
  .container {
    flex-direction: column-reverse;
  }

  .left-div,
  .right-div {
    width: 100%;
  }
}
