.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background-image: url('https://cdn.cogoport.io/cms-prod/cogo_public/vault/original/home-banner-background-1.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 40px;
  --font-family: "PT Sans", sans-serif;
  --font-family-heading: "Ubuntu", sans-serif;
  -webkit-font-smoothing: antialiased;
}

.left-div {
  width: 50%;
  box-sizing: border-box;
}

.right-div {
  width: 50%;
  box-sizing: border-box;
  position: relative;
}

.right-div video {
  padding-top: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.left-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 100px;
}

.left-div h2 {
  font-size: 40px;
  text-align: left;
}

.left-div p {
  font-size: 16px;
  text-align: left;
}

.left-div h3 {
  font-size: 14px;
  font-weight: bold;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 7px;
}

@media (max-width: 908px){
  .container{
    flex-direction: column-reverse;
  }
  .right-div{
    height: 500px;
    width: 100%;
  }
  .left-div{
    width: 100%;
  }
}

/* 

@media (max-width: 768px) {
  .container {
    flex-direction: column-reverse;
  }

  .right-div {
    order: -1;
  }
}

@media (max-width: 600px) {
  .container {
    flex-direction: column-reverse;
  }

  .left-div,
  .right-div {
    width: 100%;
  }
  .left-div {
    width: 100%;
    padding: 50px;
    align-items: center;
    text-align: center;
  }
} */