footer {

  position: relative;
  --font-family: "PT Sans",sans-serif;
  --font-family-heading: "Ubuntu",sans-serif;
  -webkit-font-smoothing: antialiased;
}

.footer-up {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fbdc00;
  padding-bottom: 20px;
 
}

.footer-up img {
  margin-right: 20px;
}

.center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.center-content h1{
  font-size: 28px;
}
.center-content p{
  font-size:16px;
  margin-bottom: 20px;
}
/* Footer Middle */

.footer-middle {
  background-color: #fbdc00;
  display: flex;
}

.column {
  flex: 1;
  padding: 0 20px;

}

.column h2 {
  margin-bottom: 10px;
  font-weight: 700;
  padding-top: 20px;
  text-decoration: underline;
}


.column ul {
  list-style: none;
  padding: 0;
  font-weight: 400;
  font-size:14px;
  line-height: 1.5;

}

.column ul li {
  margin-bottom: 5px;
}
.column ul li:hover{
  text-decoration: underline;
}

/* footer down */

.footer-down {
  display: flex;
  background-color: #ebbe00;
  padding-top: 20px;
  font-weight: 700px;
  line-height: 2rem;
}

.column-down {
  flex: 1;
  padding: 0 20px;

}

.column-down h2 {
  margin-bottom: 10px;
  font-weight: 700;
  padding-top: 20px;
  text-decoration: underline;
}


.column-down ul {
  list-style: none;
  padding: 0;
  font-weight: 400;
  font-size:14px;
  line-height: 1.5;

}

.column-down ul li {
  margin-bottom: 5px;
}
.column-down ul li:hover{
  text-decoration: underline;
  color:#ee3425;
}


/* footer-social */

.footer-social {
  display: flex;
  background-color: #ebbe00;
  padding-top: 20px;
  padding-bottom: 20px;
  
}
.footer-social-left{
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 12px;;
}
.footer-social-left p{
  padding-left: 10px;
  font-weight: 700;
  margin-left: 10px;
}
.footer-social-right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  font-size: 15px;
  font-weight: 700;
  color:#ee3425;
  text-decoration: underline;
}
.footer-social-left img{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
} 
.social-icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 1;
  margin-right: 10px;
}
.social-icons p{
  font-size: 15px;
}
.social-icons img{
  height: 20px;
}
.insta-fb-link{
  padding-left: 10px;
  padding-right: 10px;
}
@media (max-width: 768px) {
  .footer-up img {
    display: none;
  }
  .footer-social{
    display: none;
  }
  .footer-middle{
    display: none;
  }
}

