.video-container {
  width: 100%;
  min-width: fit-content;
  --font-family: "PT Sans",sans-serif;
  --font-family-heading: "Ubuntu",sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: #ee3425;
}

.video-container img {
  width: 100%;
  height: auto;
}
.video-description {
  background-color: #ee3425;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
}

.video-text {
  width: 50%;
}

.video-button {
  width: 50%;
  display: flex;
  justify-content: right;
  padding-top: 10px;
}

.video-button button {
  background-color: #fbdc00;
  color: black;
  padding: 4px 16px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  border-radius: 4px;
  min-width: 72px;
  height: 36px;
  border: 1px solid #ee3425;
  margin-right: 130px;
}

.video-title {
  color: white;
  font-size: 28px;
  margin-bottom: 10px;
}

.video-subtitle {
  color: white;
  font-size: 16px;
  margin-bottom: 10px;
}


@media (max-width: 768px) {
  .video-description{
    flex-direction: column;
  }
  .video-text{
    width: 100%;
  }
  .video-button{
    width: 100%;
    justify-content: center;
    margin-top: 20px;
  }
}